
@{
    ViewData["Title"] = "URL Already Shorted";
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="text-center">
                <h1 class="display-4">URL</h1>
                <h2 class="mb-4">Already</h2>
                <p>Shorted, try other</p>
            </div>
        </div>
    </div>
</div>
