@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Identity;
@using URL_Shortener_DAL.Entities;
@inject SignInManager<UserEntity> SignInManager


@if (SignInManager.IsSignedIn(User))
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item right">
            <a class="nav-link text-dark" asp-area="default" asp-controller="Account" asp-action="Logout">Log out</a>
        </li>
        <li>
            @if (User.IsInRole("admin"))
            {
                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">I'm an Administrator</a>
            }
        </li>
    </ul>

}
else
{
    <ul class="nav navbar-nav navbar-right">
            <li class="nav-item right">
                <a class="nav-link text-dark" asp-controller="Account" asp-action="Register" method="get">Registration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Account" asp-action="Login" method="get">Login</a>
            </li>

    </ul>
}
